## POSTTEST 4
**Data Preprocessing**
***

**Import library data preprocessing, seperti pandas, numpy, dan sci-ki learn, kemudian import dataset**

In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer

In [4]:
df = pd.read_csv("data.csv")
df

,Unnamed: 0,title,rating,name,num_ratings,num_reviews,num_followers,synopsis,genre
0,0,Sapiens: A Brief History of Humankind,4.39,Yuval Noah Harari,"8,06,229","46,149",30.5k,"100,000 years ago, at least six human species ...",history
1,1,"Guns, Germs, and Steel: The Fates of Human Soc...",4.04,Jared Diamond,"3,67,056","12,879","6,538","""Diamond has written a book of remarkable scop...",history
2,2,A People's History of the United States,4.07,Howard Zinn,"2,24,620","6,509","2,354","In the book, Zinn presented a different side o...",history
3,3,"The Devil in the White City: Murder, Magic, an...",3.99,Erik Larson,"6,13,157","36,644",64.2k,Author Erik Larson imbues the incredible event...,history
4,4,The Diary of a Young Girl,4.18,Anne Frank,"33,13,033","35,591","4,621",Discovered in the attic in which she spent the...,history
...,...,...,...,...,...,...,...,...,...
1534,1534,Hounded,4.09,Kevin Hearne,"83,827","7,203","11,905","Atticus O’Sullivan, last of the Druids, lives ...",fantasy
1535,1535,Charlie and the Chocolate Factory,4.15,Roald Dahl,"7,75,001","14,252","22,897",Charlie Bucket's wonderful adventure begins wh...,fantasy
1536,1536,Red Rising,4.25,Pierce Brown,"3,10,138","30,388","30,510","""I live for the dream that my children will be...",fantasy
1537,1537,Frostbite,4.26,Richelle Mead,"3,37,538","12,435","66,448","Rose loves Dimitri, Dimitri might love Tasha, ...",fantasy
1538,1538,Radiance,4.03,Grace Draven,"50,102","5,550","6,090","The Prince of no value\nBrishen Khaskem, princ...",fantasy

**Info Data**

In [5]:
df = pd.read_csv("data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1539 entries, 0 to 1538
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     1539 non-null   int64
 1   title          1539 non-null   object
 2   rating         1539 non-null   float64
 3   name           1539 non-null   object
 4   num_ratings    1539 non-null   object
 5   num_reviews    1539 non-null   object
 6   num_followers  1539 non-null   object
 7   synopsis       1539 non-null   object
 8   genre          1539 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 108.3+ KB

In [6]:
df.shape

(1539, 9)

***1. Membagi Dataset Menjadi Training Set dan Testing Set Dengan Proporsi 70:30***
***

In [7]:
X = df.iloc[:, : -1]
y = df.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print("Dimensi X_train", X_train.shape)
print("Dimensi X_test", X_test.shape)
print("Dimensi y_train", y_train.shape)
print("Dimensi y_test", y_test.shape)

Dimensi X_train (1077, 8)
Dimensi X_test (462, 8)
Dimensi y_train (1077,)
Dimensi y_test (462,)

***2. Melakukan Normalisasi Data Pada Salah Satu Attribute Menggunakan MinMax Scaler, Namun Harus Copy Dataset Terlebih Dahulu***
***

In [8]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder

min_max = MinMaxScaler()

# Copy Data
copy1 = df
dataCopy_normalization = copy1[["rating"]]

normalization = min_max.fit_transform(dataCopy_normalization[["rating"]])

data_normalization = pd.DataFrame(normalization)
data_normalization.columns =["rating_normalisasi"]

dataCopy_normalization = dataCopy_normalization.join(data_normalization["rating_normalisasi"]).reset_index()
dataCopy_normalization = dataCopy_normalization.drop("index", axis=1)

print()
print("Data Sebelum dan Sesudah Melakukan normalisasi : \n")
dataCopy_normalization.head(10)

Data Sebelum dan Sesudah Melakukan normalisasi :

   rating  rating_normalisasi
0    4.39            0.817259
1    4.04            0.639594
2    4.07            0.654822
3    3.99            0.614213
4    4.18            0.710660
5    4.08            0.659898
6    4.20            0.720812
7    4.18            0.710660
8    4.03            0.634518
9    4.03            0.634518

***3. Melakukan Standarisasi Pada Dataset, Namun Membuat Copy Dataset Terlebih Dahulu***
***

In [9]:
df_copy = df.copy()
columns_to_scale = ['rating']

scaler = StandardScaler()
df_copy[columns_to_scale] = scaler.fit_transform(df_copy[columns_to_scale])

In [16]:
print("Data Sebelum Scaling:")
print(df[columns_to_scale].head())

print("\nData Sesudah Scaling:")
print(df_copy[columns_to_scale].head())

Data Sebelum Scaling:
   rating
0    4.39
1    4.04
2    4.07
3    3.99
4    4.18

Data Sesudah Scaling:
     rating
0  1.560581
1  0.010989
2  0.143812
3 -0.210381
4  0.630826

***3. Melakukan Data cleaning pada data dengan nilai null (jika tidak ada nilai null pada dataset, maka buatlah menjadi ada). Ganti nilai null sesuai ketentuan. (bilangan bulat : median/modus, bilangan desimal : mean, tulisan : modus)***
***

**+ Mengecek Nilai Null**

In [18]:
df.isnull().sum()

Unnamed: 0       0
title            0
rating           0
name             0
num_ratings      0
num_reviews      0
num_followers    0
synopsis         0
genre            0
dtype: int64

**+ Mengubah Tipe Data**

In [34]:
print("Tipe data Num_ratings Sebelum di ubah :")
df.num_ratings

Tipe data Num_ratings Sebelum di ubah :

0        806229.0
1        367056.0
2        224620.0
3        613157.0
4       3313033.0
          ...
1534      83827.0
1535     775001.0
1536     310138.0
1537     337538.0
1538      50102.0
Name: num_ratings, Length: 1539, dtype: float64

In [36]:
df['num_ratings'] = df['num_ratings'].astype('int32')

print("Tipe data num_ratings sesudah di ubah :")
df.num_ratings

Tipe data num_ratings sesudah di ubah :

0        806229
1        367056
2        224620
3        613157
4       3313033
         ...
1534      83827
1535     775001
1536     310138
1537     337538
1538      50102
Name: num_ratings, Length: 1539, dtype: int32

In [49]:
print("Tipe data Num_Reviews Sebelum di ubah :")
df.num_reviews

Tipe data Num_Reviews Sebelum di ubah :

0    46,149
1    20,000
2    35,700
3    25,000
4      <NA>
Name: num_reviews, dtype: object

**+ Membuat nilai null**

In [37]:
# Untuk Menghilangkan SettingWithCopyWarning
pd.options.mode.chained_assignment = None

df.num_ratings[[10,500,100,200,250,450,500,550,750,950,1100]]=None;
df.num_reviews[[10,500,100,200,250,450,500,550,750,950,1100]]=None;
df.genre[[10,500,100,200,250,450,500,550,750,950,1100]]=None;

df[df.isnull().any(axis=1)]

,Unnamed: 0,title,rating,name,num_ratings,num_reviews,num_followers,synopsis,genre
10,10,Team of Rivals: The Political Genius of Abraha...,4.26,Doris Kearns Goodwin,NaN,None,"3,848",Winner of the Lincoln Prize\n\nAcclaimed histo...,None
100,100,The Institute,4.20,Stephen King,NaN,None,"798,942 followers","In the middle of the night, in a house on a qu...",None
200,200,Quiet: The Power of Introverts in a World That...,4.07,Susan Cain,NaN,None,23.5k,The book that started the Quiet Revolution\n\n...,None
250,250,The Gift of Therapy: An Open Letter to a New G...,4.31,Irvin D. Yalom,NaN,None,"7,180",Anyone interested in psychotherapy or personal...,None
450,450,The Ancestor's Tale: A Pilgrimage to the Dawn ...,4.14,Richard Dawkins,NaN,None,18.9k,The renowned biologist and thinker Richard Daw...,None
500,500,Stranger in a Strange Land,3.92,Robert A. Heinlein,NaN,None,"8,672",NAME: Valentine Michael Smith\nANCESTRY: Human...,None
550,550,The Friend Zone,4.15,Kristen Callihan,NaN,None,"12,438",Gray doesn’t make friends with women. He has s...,None
750,750,I Hunt Killers,4.02,Barry Lyga,NaN,None,"2,024",What if the world's worst serial killer...was ...,None
950,950,The Silent Corner,3.95,Dean Koontz,NaN,None,"32,565",Meet Jane Hawk—a remarkable new heroine certai...,None
1100,1100,Into the Wild,4.00,Jon Krakauer,NaN,None,12.8k,Librarian's Note: An alternate cover edition c...,None

**+ Mengubah Nilai Null menggunakan strategi Median**

In [39]:
imputer1 = SimpleImputer(strategy="median")
df["num_ratings"] = imputer1.fit_transform(df[["num_ratings"]])
df.isna().sum()

Unnamed: 0        0
title             0
rating            0
name              0
num_ratings       0
num_reviews      10
num_followers     0
synopsis          0
genre            10
dtype: int64

In [40]:
print(df.num_ratings[[10,500,100,200,250,450,500,550,750,950,1100]])

10      81228.0
500     81228.0
100     81228.0
200     81228.0
250     81228.0
450     81228.0
500     81228.0
550     81228.0
750     81228.0
950     81228.0
1100    81228.0
Name: num_ratings, dtype: float64

**+ Mengubah Nilai Null Menggunakan Strategi Modus**

In [63]:
strategi3 = SimpleImputer(missing_values=None, strategy="most_frequent")

df["genre"] = strategi3.fit_transform(df[["genre"]])

df.isna().sum()

Unnamed: 0       0
title            0
rating           0
name             0
num_ratings      0
num_reviews      0
num_followers    0
synopsis         0
genre            0
dtype: int64

***3. Lakukan Data cleaning pada data dengan nilai duplikat***
***

In [64]:
df[df.duplicated()]

print("Jumlah Data Duplikat : ")
df.duplicated().sum()

Jumlah Data Duplikat :

0

In [65]:
#duplikat manipulasi
df.iloc[1,:] = df.iloc[0,:]

In [66]:
df.duplicated().sum()

1

In [67]:
df.head()

,Unnamed: 0,title,rating,name,num_ratings,num_reviews,num_followers,synopsis,genre
0,0,Sapiens: A Brief History of Humankind,4.39,Yuval Noah Harari,"8,06,229","46,149",30.5k,"100,000 years ago, at least six human species ...",history
1,0,Sapiens: A Brief History of Humankind,4.39,Yuval Noah Harari,"8,06,229","46,149",30.5k,"100,000 years ago, at least six human species ...",history
2,2,A People's History of the United States,4.07,Howard Zinn,"2,24,620","6,509","2,354","In the book, Zinn presented a different side o...",history
3,3,"The Devil in the White City: Murder, Magic, an...",3.99,Erik Larson,"6,13,157","36,644",64.2k,Author Erik Larson imbues the incredible event...,history
4,4,The Diary of a Young Girl,4.18,Anne Frank,"33,13,033","35,591","4,621",Discovered in the attic in which she spent the...,history

In [69]:
df.drop_duplicates(inplace=True)

hasil = df.reset_index(drop=True)
print("Jumlah data duplicated setelah di drop :")
hasil.duplicated().sum()

Jumlah data duplicated setelah di drop :

0

***6. Ganti tipe data salah satu attribute angka***
***

In [70]:
print("Tipe data rating Sebelum di ubah :")
df.rating

Tipe data rating Sebelum di ubah :

0       4.39
2       4.07
3       3.99
4       4.18
5       4.08
        ...
1534    4.09
1535    4.15
1536    4.25
1537    4.26
1538    4.03
Name: rating, Length: 1538, dtype: float64

***7. Lakukan one hot encoding pada dataset yang***
***

In [72]:
one_encoder = OneHotEncoder(sparse=False)

onehot = one_encoder.fit_transform(df[["genre"]])
df_onehot = pd.DataFrame(onehot)
df_encoder = df.join(df_onehot)
df_encoder.head()

D:\Kecerdasan Buatan\venv_C2-21\feby_137\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,Unnamed: 0,title,rating,name,num_ratings,num_reviews,num_followers,synopsis,genre,0,1,2,3,4,5,6,7,8,9
0,0,Sapiens: A Brief History of Humankind,4.39,Yuval Noah Harari,"8,06,229","46,149",30.5k,"100,000 years ago, at least six human species ...",history,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,A People's History of the United States,4.07,Howard Zinn,"2,24,620","6,509","2,354","In the book, Zinn presented a different side o...",history,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,"The Devil in the White City: Murder, Magic, an...",3.99,Erik Larson,"6,13,157","36,644",64.2k,Author Erik Larson imbues the incredible event...,history,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,The Diary of a Young Girl,4.18,Anne Frank,"33,13,033","35,591","4,621",Discovered in the attic in which she spent the...,history,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,5,1776,4.08,David McCullough,"2,14,796","7,910","9,137","In this masterful book, David McCullough tells...",history,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0